<h2>マイページ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
  <%= devise_error_messages! %>

  <table class="user-edit-form">
    <tr>
      <th><%= f.label :image %></th>
      <td>
        <% if current_user.persisted? && current_user.image? %>
          <%= image_tag current_user.image.thumb.to_s, :class => 'profile-pic' %>
        <% else %>
          <%= image_tag 'default.png', :class => 'profile-pic' %>
        <% end %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :user_name %></th>
      <td><%= f.text_field :user_name, autofocus: true, :class => 'field' %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td>
        <%= f.email_field :email, autocomplete: 'email', :class => 'field' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上（変更しない場合は空白）", :class => 'field'%></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'field' %></td>
    </tr>
    <tr>
      <th><%= f.label :current_password %></th>
      <td><%= f.password_field :current_password, autocomplete: "current-password", placeholder: '現パスワードの入力は必須です', :class => 'field' %></td>
    </tr>
  </table>
  <%= f.submit '更新する', :class => 'user-edit-submit' %>
<% end %>

<div class="user-delete">
<p>or</p>
<%= button_to 'アカウント削除', registration_path(resource_name), data: { confirm: '本当に削除しますか？（復元はできません。）' }, method: :delete, :class =>'user-delete-submit' %>
</div>