<h2>ツイート一覧</h2>

<%= form_with model: @tweet, url: tweets_path, method: :post, local: true do |f| %>
  <div class="new-tweet-form">
    <% @tweet.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
    <%= f.text_area :tweet, :class => 'new-tweet' %>
    <%= f.submit '送信', :class => 'new-tweet-submit' %>
  </div>
<% end %>

<% @tweets.each do |tweet| %>
  <div class="item">
    <div class="flex-parent-flexstart">
      <span class="flex-child user-name"><%= tweet.user.user_name %></span>
      <span class="flex-child"><%= tweet.id %></span>
      <span class="flex-child"><%= tweet.created_at.to_s %></span>
    </div>
    <div class="tweet">
      <%= tweet.tweet %>
    </div>
    <ul class="flex-parent-flexstart">
      <li class="flex-child"><i class="far fa-comment"></i></li>
      <% if Like.exists?(tweet_id: tweet.id) %>
        <li class="flex-child">
          <%= link_to like_path(tweet.id), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </li>
      <% else %>
        <li class="flex-child">
          <%= link_to tweet_likes_path(tweet.id), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        </li>
      <% end %>
      <% if tweet.user_id == current_user.id %>
        <li class="flex-child">
          <%= link_to tweet_path(tweet.id), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%#= react_component('tweets/TweetsPage') %>