<h2>tweets#index</h2>
<%= form_with url: tweet_create_path do |f| %>
  <p><%= f.text_area :tweet %></p>
  <p><%= f.submit '登録する' %></p>
  <% @tweet.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
<% end %>
<% @tweets.each do |tweet| %>
  <div class="tweet">
    <p><span class="user-name"><%= tweet.user.user_name %></span>　<%= tweet.created_at %></p>
    <p><%= tweet.tweet %></p>
    <ul class="icons">
      <li class="icon"><i class="far fa-comment"></i></li>
      <% if Like.exists?(tweet_id: tweet.id) %>
        <li class="icon">
          <%= link_to like_destroy_path(tweet.id), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </li>
      <% else %>
        <li class="icon">
          <%= link_to like_create_path(tweet.id), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        </li>
      <% end %>
      <li class="icon">
        <%= link_to tweet_destroy_path(tweet.id), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
<%#= react_component('tweets/TweetsPage') %>