<h2>いいねしたツイート一覧</h2>
<% @user.liked_tweets.each do |like| %>
  <div class="item">
    <div class="flex-parent-flexstart">
      <span class="flex-child user-name"><%= like.user.user_name %></span>
      <span class="flex-child"><%= like.created_at.to_s %></p></span>
    </div>
    <div class="tweet">
      <%= like.tweet %>
    </div>
    <ul class="flex-parent-flexstart">
      <li class="flex-child"><i class="far fa-comment"></i></li>
      <% if false %>
      <% if Like.exists?(tweet_id: like.tweet.id) %>
        <li class="flex-child">
          <%= link_to user_like_path(current_user.id, like.id), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </li>
      <% else %>
        <li class="flex-child">
          <%= link_to user_likes_path(current_user.id), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        </li>
      <% end %>
      <% end %>
      <li class="flex-child">
        <%= link_to user_tweet_path(current_user.id, like.id), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>